### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchase Data csv and store into Pandas data frame 
purchase_data_df = pd.read_csv(file)

# Head function to see first ten lines
purchase_data_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count the total players as the length (Len) of list of screen names (SN)
# Number players should be the length of unique players as to not 
# count one buyer as multiple players 
total_players = len(purchase_data_df["SN"].unique())

# Make a new data frame with total players 
number_players = pd.DataFrame({"Total Players":[total_players]})
number_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate # of unique items
unique_items = len(purchase_data_df["SN"].unique())

# Calculate Avg Price
avg_price = purchase_data_df["Price"].mean() 

# Calculate Total Number of Purchases
total_number_of_purchases = purchase_data_df["Price"].count()

# Calculate Total Revenue
total_revenue = purchase_data_df["Price"].sum()

# Create a new Data Frame with Purchase Analyis Results 
Purchase_analysis_df= pd.DataFrame ({"Amount of Unique Items":[unique_items], 
                                 "Average Price": [avg_price],
                                 "Total Purchases": [total_number_of_purchases],
                                 "Total Revenue": [total_revenue]})

# New DF showed Average Price and Total Revenue formatted wrong
# format it to Currency
Purchase_analysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Separate purchase data by Gender
gender_purchases = purchase_data_df.groupby("Gender")

# Total of SN by Gender
# Filter out duplicates and null values with nunique
unique_gender_players = gender_purchases.nunique()["SN"]

# Calculate the gender specific percentages
# Format to % and two decimals
gender_percent = (unique_gender_players/total_players).map("{:,.2%}".format)

# Make a Gender Demographics 
gender_table = pd.DataFrame({"Percentage of Players": gender_percent, 
                             "Total Count": unique_gender_players})

gender_table

                      Percentage of Players  Total Count
Gender
Female                               14.06%           81
Male                                 84.03%          484
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate the Purchase Count by Gender
gender_purchase_count = gender_purchases["SN"].count()

# Calculate Avg Purchase Price and currency format
avg_price = gender_purchases["Price"].mean().map("${:,.2f}".format)

# Calculate the average purchase totals by each gender and currency format
gender_avg_price = gender_purchases["Price"].sum().map("${:,.2f}".format)

#Calculate the avg gender purchases per player and currency format
gender_avg_player_price = (purchase_data_df.groupby(["Gender"]).sum()["Price"]
                          /gender_table["Total Count"]).map("${:,.2f}".format)

# Create data frame with obtained values
gender_demo_purchases = pd.DataFrame({"Purchase Count": gender_purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value": gender_avg_price,
                                    "Avg Purchase Total per Person": gender_avg_player_price})
gender_demo_purchases

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Create Age Bins
age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 10000]

# Title the bins
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Sort the player's ages into age groups
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bin, 
                                       labels=age_group)

# DF with new column "Age Group"
group_age = purchase_data_df.groupby("Age Group")

# Calculate total number of players by age group
# Filter out duplicates by nunique
age_count = group_age["SN"].nunique()

# Calculate percent by age group and format to percentage
age_percentage = (age_count/total_players).map("{:,.2%}".format)

# Make DF Age Demographic Table
age_demo_table = pd.DataFrame({"Player Percentage" : age_percentage,
                              "Total Age Count":age_count})
age_demo_table

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

          Player Percentage  Total Age Count
Age Group
<10                   2.95%               17
10-14                 3.82%               22
15-19                18.58%              107
20-24                44.79%              258
25-29                13.37%               77
30-34                 9.03%               52
35-39                 5.38%               31
40+                   2.08%               12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Calculate the purchase count by age groups
purchase_age = group_age["Purchase ID"].count()

# Calculate avg. purchase price by age groups
avg_age_price = group_age["Price"].mean()

# Calculate the sum of purchases by age groups
total_age_purchase = group_age["Price"].sum()

# Calculate avg. purchase total per person by age groups
avg_age_price_each= (total_age_purchase/age_count).map("{:,.2%}".format)

# Make a Purchasing Analysis by Age summary table
age_purchase_table = pd.DataFrame({"Purchase Count":purchase_age,
                                  "Avg Price":avg_age_price,
                                  "Total Price": total_age_purchase,
                                  "Total Price / Person": avg_age_price_each})

age_purchase_table.style.format({"Avg Price": "${:,.2f}",
                                "Total Price":"${:,.2f}",
                                "Total Price / Person":"${:,.2f}"})

ValueError: Unknown format code 'f' for object of type 'str'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame